.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 160px;
  position: fixed;
  width: calc(100% - 320px);
  top: 0;
  z-index: 1000;
  background-color: #1F0016;
  padding: 10px;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  transition: right 0.5s;
}

.nav-connect {
  padding: 14px 28px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-open {
  display: none;
  cursor: pointer;
  width: 30px;
}

.nav-mob-close {
  display: none;
  cursor: pointer;
  position: relative;
  left: 260px;
  width: 30px;
}

/* ========== Responsive Styles ========== */
@media (max-width: 1024px) {
  .navbar {
    margin: 20px 40px;
    width: calc(100% - 80px);
  }

  .nav-menu {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 20px;
    width: calc(100% - 40px);
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -350px;
    height: 100%;
    width: 300px;
    background-color: #1F0016;
    flex-direction: column;
    padding: 50px 40px;
    font-size: 24px;
    z-index: 999;
    gap: 40px;
    transition: right 0.5s;
  }

  .nav-menu.open {
    right: 0;
  }

  .nav-mob-close {
    display: block;
    top: 0;
    left: 220px;
    margin-bottom: 40px;
  }

  .nav-menu li {
    align-items: start;
  }
}
